
body{
    font-family: Arial, sans-serif, Helvetica;
    background-color: #eff6ef;
}


h1, h2, h3, h4{
    font-size: xx-large;
    color: #7beac3;
    font-family: sans-serif;
    width: 100%;
    height: 50px;
    border-radius: 12px;
    font-weight: bold;
}

article{
    margin-top: 2rem;
}

.navbar a{

    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

p{
    font-size: small;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: #a2a2a2;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

}


.Title{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;

}

#Container{
    display: flex;
}

#Html-Information > a > img{
    width: 13rem;
    padding-left: 1rem;
    padding-top: 1rem;
}

#Html-Information > p{
    padding: 0.5rem;
    font-weight: bold;
}

#Html-Information{
    border: solid 1px;
    border-radius: 1rem;
    margin-top: 10rem;
    margin-left: 6rem;
    width: 15rem;
    height: 25rem;
}

#Html-Information:hover{
    background-color: lightgray;
    transition: background-color 0.3s, box-shadow 1s;
    box-shadow: black 4px 4px 4px 4px;
}

#Html-Navbar > div{
    display: flex;
}

#Return-Button > a > img{
    position: fixed;
    width: 2rem;
    right: 10px;
    top: 30px;
}

#Html-Navbar > div > div{
    display: flex;
}

#Html-Navbar a {
    text-decoration: none;
    padding: 2rem;
    color: #a69f9f;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-left: 2rem;
    border-radius: 12px;
}

#Html-Navbar a:hover {
    background-color: lightgray;
}

#Html-Text > article > p{
    font-family: sans-serif;
    margin-left: 1rem;
    font-size: 1rem;
}

#CSS-Basics {
    border: solid 1px;
    border-radius: 1rem;
    margin-left: 6rem;
    width: 15rem;
    height: 25rem;
    margin-top: 10rem;
}

#CSS-Basics:hover{
    background-color: lightgray;
    transition: background-color 0.3s, box-shadow 1s;
    box-shadow: black 4px 4px 4px 4px;
}

#CSS-Basics > a > img {
    width: 14rem;
    padding-top: 1rem;
    padding-left: 0.5rem;
}

#CSS-Basics > p{
    padding: 0.5rem;
    font-weight: bold;
}

#Css-Texts > article > p{
    font-family: sans-serif;
    margin-left: 1rem;
    font-size: 1rem;
}

#Box-Model > img{
    height: 15rem;
}

#Flex-Box > img{
    width: 25rem;
}

#Animation-Button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    float: right;
    margin-top: -5rem;
    margin-right: 4rem;
    width: 8rem;
    height: 4rem;
}

#Animation-Button:hover{
    animation: changeColor 2s forwards infinite; /* Animation when button is clicked */
}

@keyframes changeColor {
    from{background-color: white}
    to {
        background-color: black;
    }
}

#General-Information{
    border: solid 1px;
    border-radius: 1rem;
    margin-top: 10rem;
    margin-left: 6rem;
    width: 14rem;
}

#General-Information:hover{
    background-color: lightgray;
    transition: background-color 0.3s, box-shadow 1s;
    box-shadow: black 4px 4px 4px 4px;
}

#General-Information > a > img{
    width: 14rem;
    padding-top: 1rem;
    padding-left: 0.2rem;

}

#General-Information > p{
    padding: 0.5rem;
    font-weight: bold;
}

#General-Text > article > p{
    font-family: sans-serif;
    margin-left: 1rem;
    font-size: 1rem;
}

button:hover
{
    cursor: pointer;
    background-color: darkblue;
}

button{

    background-color:blue;
    color: #fff;
    font-weight: bold;
    font-family: Arial;
    border: none;
    padding: 1rem;
    border-radius: 8px;
}

#Bootstrap{
    border: solid 1px;
    border-radius: 1rem;
    margin-top: 10rem;
    margin-left: 6rem;
    width: 14rem;
}

#Bootstrap > a > img{
    width: 10rem;
    height: 10rem;
    padding-left: 2rem;
    padding-top: 1rem   ;
}

#Bootstrap > p{
    padding: 0.5rem;
    font-weight: bold;
}

#Bootstrap:hover{
    background-color: lightgray;
    transition: background-color 0.3s, box-shadow 1s;
    box-shadow: black 4px 4px 4px 4px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

tr {
    border-bottom: 1px solid black;
}

th {
    background-color: #f2f2f2;
}

#List-Example > ul > li{
    list-style-type: square;
}

#Important-Css-Tags > img{
    margin-top: 2rem;
    height: 17rem;
}



