
body{
    font-family: Arial, sans-serif, Helvetica;
    background-color: white;

}
h1{
    font-size: xx-large;
    text-align: center;
    color: #edebef;
    font-style: italic;
    background-color: lightblue;
    width: 100%;
    height: 50px;
    border-radius: 12px;
    font-weight: bold;

}



.navbar a{

    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

p{
    font-size: small;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

}

.Title{

    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;

}



button:hover
{
    cursor: pointer;
    background-color: darkblue;
}

button{

    background-color:blue;
    color: #fff;
    font-weight: bold;
    font-family: Arial;
    border: none;
    padding: 1rem;
    border-radius: 8px;
}

#Links div{
    display: inline;
}

#gen:hover{
    color: dimgrey;
}

#basics:hover{
    color: dimgrey;
}

#Html\ Logo {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 10px;
    margin-right: 10px;
    height: 80px;
    width: 80px;
}

#Css\ Logo {
    position: fixed;
    bottom: 0;
    right: 90px;
    margin-bottom: 10px;
    height: 80px;
    width: 80px;
}

#CSS-Basics > a:hover
{
    color: dimgrey;
}


